<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>Advance Diploma In Computer Application - (ADCA)</title>
    <style>
        .box420{
        border:1px solid black;
        height:35px;
        line-height:35px;
        font-family:arial;
        width:750px;
        }
        .box240{
        box-shadow:5px 7px 10px gray;
        width:800px;
        margin:20px;
        margin-left:200px;
        padding:30px;
        border-radius:10px
        }

    </style>
</head>
<body>
{% include "./computer course.html" %}
<DIV class="box240">
    <h1>Advance Diploma In Computer Application - (ADCA)</h1>
    <P>SEMESTER - 1</P>
<DIV class="box420">
    Computer Concept & Fundamentals with Introduction to Internet & Email
</DIV>
    <DIV class="box420">Operating System</DIV>
    <DIV class="box420">MS-Office (MS-Word, MS- Excel, MS-Power Point, MS-Access)</DIV>
    <DIV class="box420">HTML & Front Page</DIV>
    <DIV class="box420">Lab-I</DIV>
</DIV>

<DIV class="box240">
     <P >SEMESTER - 2</P>
    <DIV class="box420">C Language</DIV>
    <div class="box420">Programming in C++</div>
    <DIV class="box420">Java</DIV>
    <DIV class="box420">Lab-II</DIV>
</DIV>
</body>
</html>