<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'mycss.css' %}">
    <title>Advance Diploma in Computer Hardware & Networking</title>
</head>
<body>
{% include "./computer course.html" %}
<DIV class="box240">
  <H1>
    Advance Diploma in Computer Hardware & Networking
  </H1>
   <P> SEMESTER - 1</P>
    <DIV class="box420">Analog and Digital Electronics</DIV>
    <DIV class="box420">Operating System Dos, Windows, NT, 2000, XP, Unix, Linux</DIV>
    <DIV class="box420">Microprocessors</DIV>
    <DIV class="box420">Installation and Assembling</DIV>
    <DIV class="box420">Peripheral Devices Installation and Maintenance</DIV>
    <DIV class="box420">Lab-I</DIV>
</DIV>

    <DIV class="box240">
    <P>SEMESTER - 2</P>

    <DIV class="box420">PC Architecture, Power Supply, Display System</DIV>
    <DIV class="box420">Drives, Printer and Scanner Repairing</DIV>
    <DIV class="box420">Virus Removing and Detection Techniques</DIV>
    <DIV class="box420"> Network Fundamental</DIV>
    <DIV class="box420">Lab-II</DIV>
</DIV>
</body>
</html>