<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'mycss.css' %}">
    <title>Advance Diploma In Computer Programming</title>
</head>
<body>
{% include "./computer course.html" %}
<h1>Advance Diploma In Computer Programming</h1>
<div class="box240">
 <p> SEMESTER - 1</p>
<div class="box420">Computer Concept & Fundamentals with Introduction to Internet & Email</div>
<div class="box420">Operating System</div>
<div class="box420">MS-Office (MS-Word, MS- Excel, MS-Power Point, MS-Access)</div>
<div class="box420">Java Script & VB Script</div>
<div class="box420">HTML & Front Page</div>
  <div class="box420">Lab-I</div></div>

<div class="box240">
 <p> SEMESTER - 2</p>
  <div class="box420"> C Languages</div>
  <div class="box420">Visual Foxpro</div>
  <div class="box420">Programing with VB.Net</div>
  <div class="box420">Lab-II</div>
</div>
</body>
</html>