<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>Af</title>

</head>
<body>
{% include "./index.html" %}
<div style="margin-top:40px;z-index:-1"> <table>
    <tr>
    <td>
        <h4>HOW TO TAKE A MEMBERSHIP</h4>
    </td></tr>

    <tr>   <td> <h3>On receiving this offer, a prospective study centre should:</h3>
        Apply with complete details of self, premises, available hardware, plan for business development in the format of the data sheet attached at the end of this offer. Receipt of the application and data sheet at the controlling office of HACS would be followed by personal interview with the Director
        HACS and a visit by a team of HACS professional at the prospective centre, if needed.
       <h4> Eligibility Criteria for HACS Study Centre</h4>

The HACS Study Centre should satisfy the following criteria.
Should be in business (IT related or otherwise) or should be a professional with the required
        entrepreneurial acumen.Should be willing to invest required amount of money in setting up a centre with proper infrastructure and man power.Should have commitment for providing quality training to students.Should be willing to be a part of the HACS team in accepting the terms and condition and procedures as laid down by HACS
</td></tr>

</table>

        <table border="1">
            <tr><td style="height:200px;font-size:30px;text-align:center" colspan="5">INFRASTRUCTURE REQUIREMENT</td></tr>
            <tr>
                <th rowspan="2">Specification</th>
                <th colspan="2">Urban</th>
                <th colspan="2">Rural</th>
            </tr>
            <tr>
         <td>       Metro City</td>
        <td>Non Metro City</td>
        <td>Tehsil</td>
        <td>Village</td>
            </tr>
            <tr>
 <td>(a) Area (Sq.Ft.)</td>
<td>1500</td>
<td>1000-1200</td>
<td>800-1000</td>
                <td>800-1000</td>
            </tr>
            <tr>
 <td>               (b) No. of Class Rooms</td>
<td>2</td>
<td>2</td>
<td>2</td>
<td>2</td>

            </tr>
            <tr>
                <td>(c) Sitting Capacity per Class Room</td>
<td>20</td>
<td>20</td>
<td>15</td>
 <td>       15</td></tr>
<tr>
    <td>(d) Lab Room</td>
    <td>1</td>
    <td>1</td>
    <td>1</td>
    <td>1</td>
</tr>
           <tr>
               <td>(e) No. of Systems</td>
               <td>10</td>
               <td>8</td>
               <td>6</td>
               <td>5</td>
            </tr>
        </table>
        <table style="margin-left:120px;margin-top:10px">
        <tr><td colspan="5"><h3>Hardware Requirements</h3>
One Pentium server Nodes connected as per HACS Site Specification.Necessary Hardware
compatibility for Internet.Printer (Dot Matrix / Inkjet).UPS (500 VA) / GeneratorA.C. Unit</td></tr>
     </table>
        <table>
            <tr>
                <td colspan="2" style="height:150px;text-align:center;font-size:30px">MANPOWER REQUIREMENT :</td>
            </tr>
            <tr>
                <td>Administrator/Manager</td>
                <td>Knowledge of Computer Software Training, Experience, having Good Management Skills</td>
            </tr>

            <tr>
                <td>Faculty</td>
                <td>Thorough knowledge of subject, disciplined, Student's problem solving capacity</td>
            </tr>
            <tr>
                <td>Counselor/Receptionist</td>
                <td>Pleasant personality with good communication skills, knowledge of computer courses, disciplined</td>
            </tr>
            <tr>
                <td>Marketing Executive</td>
                <td>Experienced Hardworking, knowledge of computer courses, good communication skills.</td>
            </tr>
            <tr>
                <td>Office Boys</td>
                <td>Disciplined & Experience</td>
            </tr>
        </table>
        <table style="margin-left:120px">
            <tr style="height:150px;text-align:center;font-size:30px">
                <td>PROFITABILITY OF OPERATIONS :</td>
            </tr>
            <tr>
                <td>The granting of study centre status would be possible after careful study of the market potential, number of students graduation form the relevant streams etc. The specifics in terms of operational economics will be discussed in person with each of the study centers. The study centers are required to make a study of the Engineering Colleges, Polytechnics and science college and other institutes of the area by way to the number of students passing out each year.</td>
            </tr>
        </table>
</div>
    <div style="border:1px solid black;width:1078px;margin-left:120px">
       <h3> Expectation From the Centre</h3>

The study centre should be able to have a centre at a prime location of the city/town. The centre would have separate class rooms, Computer Lab and Reception / office room. The centre would have proper ventilation and proper lighting .The block and sub block level centers may not have the above infrastructure but should have generally clean surroundings.

        <h3>By way of Equipment and Facilities...........</h3>

Depending on the potential of the area and under consultation with HACS, the study centre should have or should be in a position to acquire the number of computers, printers, equipment, tools and consumable and the proper software that would be required to effectively convey the course to the students. The study centre should have a well equipped library, housing books as prescribed by the HACS central coordinating office. Further the study centre shall subscribe to periodicals as suggested and students should have easy access to both books and periodicals.

<h3>In Operations
<br>
    Each study centre would be provided with a detailed operational manual which provide guidelines to various aspects like.</h3>

Internal systems and procedures.External InterfaceCo-ordinationsPurchase of classes and practical.Examination procedure.Certificate issue procedures.The study centre should follow the steps outlined in the manual would be the key essence to the agreement with the study centers.

        <h3>In Function................</h3>

        <h4>The HACS study centre shall abide by the agreement and conditions followed by all HACS centres.</h4>

The HACS study centre shall have to conduct courses as per the rules and syllabi laid down by HACS
    </div>
</div>
</body>
</html>