<!DOCTYPE html>
<html lang="en">
<head>
   {% load static %}
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'mycss.css' %}">
    <title>Certificate Course in Computer Accounting
</title>
</head>
<body>
{% include "./computer course.html" %}
<h1>Certificate Course in Computer Accounting</h1>
<div class="box240">
  <div class="box420">Computer Concept & Fundamentals with Introduction to Internet & Email</div>
    <div class="box420">Operating System</div>
  <div class="box420">Computerized Accounting through Tally</div>
  <div class="box420">Lab-I</div>
</div>
</body>
</html>