<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'mycss.css' %}">
    <title>Certificate Course in Software Installation, Up gradation & Troubleshooting</title>
</head>
<body>
{% include "./computer course.html" %}
<h1>Certificate Course in Software Installation, Up gradation & Troubleshooting</h1>
<div class="box240">
    <div class="box420">Introduction to Hardware & Personal Computer</div>
    <div class="box420">Computer Mother Board, Storage, USB Devices</div>
    <div class="box420">SMPS & Troubleshooting</div>
    <div class="box420">Software Installation & System Files</div>
    <div class="box420">PC Tools & Anti Virus Software</div>
</div>
</body>
</html>