<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'mycss.css' %}">
    <title>Computer Technician Pregramme
 </title>
</head>
<body>
{% include "./computer course.html" %}
<div class="box240">
  <h1>
    Computer Technician Pregramme

  </h1>

 <p> SEMESTER - 1</p>
  <div class="box420">Introduction to Computers: Computer its uses, functions, applications</div>
  <div class="box420">Outer Parts: Learn to recognize external parts and their functions.</div>
  <div class="box420">Inner Parts: Lerrn to recgnize internal parts and their functions</div>
  <div class="box420">Computer Assembly.</div>
  <div class="box420">Different Commands, Partitioning, Formatting, Windows Installation etc</div>
  <div class="box420">Viruses: What is Virus, How to remove it? Precautions</div>
  <div class="box420" style="height:auto">Functioning of Computer: Boot up Process, Configuration of Computer and Functioning of different parts of Computer, To identify hardware / Software fault, BIOS, Control Panel, Device Manage, Conflicts, Windows help, Common Problems and remedies etc..</div>
</div>
</body>
</html>