<!DOCTYPE html>
<html lang="en">
<head>
   {% load static %}
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'mycss.css' %}">
    <title>Diploma in Computer Hardware</title>
</head>
<body>
{% include "./computer course.html" %}
<div class="box240">
    <h1>Diploma in Computer Hardware</h1>
   <p> SEMESTER - 1</p>
    <div class="box420">Analog and Digital Electronics</div>
    <div class="box420">Operating System Dos, Windows, NT, 2000, XP, Unix, Linux</div>
    <div class="box420">Microprocessors</div>
    <div class="box420">Installation & Assembling</div>
    <div class="box420">Peripheral Devices Installation & Maintenance</div>
    <div class="box420">Lab-I</div>
</div>
</body>
</html>