<!DOCTYPE html>
<html lang="en">
<head>
     {% load static %}
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'mycss.css' %}">
    <title>Diploma in Internet Programming& Web Designing</title>
</head>
<body>
{% include "./computer course.html" %}
<h1>Diploma in Internet Programming& Web Designing</h1>
<div class="box240">
  <div class="box420"> Computer Concept & Fundamentals</div>
  <div class="box420">Operating System</div>
  <div class="box420">Computer Network & Internet</div>
  <div class="box420">HTML & Front Page</div>
  <div class="box420">VB Script & Java Script</div>
  <div class="box420">Lab-I</div>
</div>
</body>
</html>