<!DOCTYPE html>
<html lang="en">
<head>
  {% load static %}
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'mycss.css' %}">
    <title>Diploma in Mobile Maintenance</title>
</head>
<body>
{% include "./computer course.html" %}
<h1>Diploma in Mobile Maintenance</h1>
<div class="box240">
   <div class="box420"> Basic Mobile Phone Mobile Repairing Tools</div>
<div class="box420">Mobile Software</div>
<div class="box420"> Various Mobile Circuit</div>
<div class="box420">Mobile Phone Faults</div>
<div class="box420">Mobile Phone Repairing</div>
<div class="box420">Downloading Techniques</div>
</div>
</body>
</html>