<!DOCTYPE html>
<html lang="en">
<head>
  {% load static %}
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'mycss.css' %}">
    <title>Certificate Course In Desk Top Publication</title>
</head>
<body>
{% include "./computer course.html" %}
<h1>Certificate Course In Desk Top Publication</h1>
<div class="box240">
  <div class="box420">Computer Concept & Fundamentals with Introduction to Internet & Email</div>
<div class="box420">Operating System</div>
<div class="box420">D.T.P. (Page Maker, Corel Draw, Photo Shop</div>
<div class="box420">Lab-I</div>
</div>
</body>
</html>