<!DOCTYPE html>
<html lang="en">
<head>
     {% load static %}
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'mycss.css' %}">
    <title>Internet Kiosk Operator
</title>
</head>
<body>
{% include "./computer course.html" %}
<DIV class="box240">
  <H1>Internet Kiosk Operator
</H1>
   <P> SEMESTER - 1</P>
    <DIV class="box420">Introduction to Computers: Computer its uses, functions, applications</DIV>
    <DIV class="box420">Typing (English / Hindi)</DIV>
    <DIV class="box420">Operating Various Devices Like Printers / Scanners / Data Devices</DIV>
    <DIV class="box420">Ms-Office (Word, Excel, Power Point)</DIV>
    <DIV class="box420">Internet & Email</DIV>
    <DIV class="box420">Filling Online Application Forms</DIV>
    <DIV class="box420">Photoshop</DIV>
</DIV>
<DIV class="box240">
    <P>SEMESTER - 2</P>
    <DIV class="box420">Financial Management & Costing</DIV>
    <DIV class="box420">Capital Market, Security Analysis & Portfolio Management</DIV>
    <DIV class="box420">Auditing</DIV>
    <DIV class="box420">Advance Accounts</DIV>
    <DIV class="box420">Company Law Procedures</DIV>
</DIV>
</body>
</html>