<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">

</head>
<body>
<div class=" w3-mobile">
    <a href="logo.png"><img src="{% static '/logo.png' %}" width="70"></a>
    <a href="https://www.facebook.com/ComputerEducationBareilly"><img src="{% static '/f.png' %}" width="30" class="img"></a>
    <a href="https://www.instagram.com/"><img src="{% static '/i.png' %}" width="30" class="img"></a>
    <a href="https://mobile.twitter.com/login"><img src="{% static '/t.png' %}" width="30" class="img"></a>
    <div class="box"> <a href="https://accounts.google.com/ServiceLogin/signinchooser?elo=1&flowName=GlifWebSignIn&flowEntry=ServiceLogin"><img src="{% static '/g.png' %}" width="20">Omtechbly@gmail.com</a></div>
</div>

<div class=" w3-mobile" style="position:sticky;top:5px">
    <ul  style="height:auto;background-color:purple">
    <li><a href="home">Home</a></li>
    <li><a href="aboutus">About US</a></li>
    <li><a href="#">Our Course</a>
    <ul>
        <li><a href="adca">Computer Course </a>
<!--        <ul>-->
<!--            <li><a href="#">RGCSM COURSE</a> </li>-->
<!--            <LI><a href="#">NEILIT COURSE</a> </LI>-->
<!--        </ul>-->
        </li>
        <li><a href="mobile">Mobile,Hardware & Networking </a></li>
        <li><a href="fine"> Fine Art & Personality Development</a></li>
        <li><a href="bc">Beautician Course </a></li>
        <li><a href="cut"> Cutting & Tailoring Dress Design</a></li>
        <li><a href="draw"> Drawing & Painting Course</a></li>
        <li><a href="dance"> Dance ,Music/Mehendi Course</a></li>
        <li><a href="cad">Auto CAD </a></li>
        <li><a href="#"> Vocational Course</a></li>
        <li><a href="#"> Other Vocational Course</a></li>
        <li><a href="#"> Short Term Computer & Vocational Course</a></li>
    </ul>
    </li>
    <li><a href="ntt">NTT Course</a></li>
    <li><a href="#">Affiliation</a>
    <ul>
        <li><a href="af">Affiliation Programme</a></li>
        <li><a href="#">Online Fill Affiliation From</a></li>
        <li><a href="#">Download Affiliation Form</a></li>
    </ul>
    </li>
    <li><a href="#">Student Zone</a>
    <ul>
        <li><a href="online">Online Admision</a></li>
        <li><a href="provisional">Download Provisional</a></li>
        <li><a href="appform">Application Form</a></li>
         <li><a href="#">Online Exam</a></li>
    </ul>
    </li>
    <li><a href="payment">Payment Mode</a></li>
    <li><a href="inquery">Enquiry</a></li>
    <li><a href="#">Gallery</a>
    <ul>
        <li><a href="photo">Photo Gallery</a></li>
        <li><a href="video_file">Video Gallery</a></li>
    </ul>
    </li>
    <li><a href="Contact">Contact Us</a></li>
    </ul>
</div>
<!--<div class="box123">-->
<!--</div>-->

</body>
</html>
