<!DOCTYPE html>
<html lang="en">
<head>
     {% load static %}
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'mycss.css' %}">
    <title>Nursery Teachers Training</title>
</head>
<body>
{% include "./computer course.html" %}
<DIV class="box240">
  <H1>Nursery Teachers Training</H1>
 <P> SEMESTER - 1</P>
  <DIV class="box420">Child Psychology</DIV>
  <DIV class="box420">Child Welfare & Health</DIV>
  <DIV class="box420">School Organizations and Management</DIV>
  <DIV class="box420">Sociology & Guidance</DIV>
  <DIV class="box420">Educational Psychology</DIV>
  <DIV class="box420">Principles of Education</DIV>
  <DIV class="box420">Method of Teaching</DIV></DIV>
<div class="box240">
<DIV class="box420">Practical Papers</DIV>
  <DIV class="box420">Lesson Planning & Teaching</DIV>
  <DIV class="box420"> Arts & Craft</DIV>
  <DIV class="box420">Preparation of Teaching Aids</DIV>
  <DIV class="box420">Rhymes, Action Songs, Speech, Story</DIV>
  <DIV class="box420">Viva</DIV>
  <DIV class="box420">Internal Mrks</DIV>
</DIV>
</body>
</html>