<!DOCTYPE html>
<html lang="en">
<head>
  {% load static %}
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'mycss.css' %}">
    <title>Rajeev Gandhi-Certificate in Information Technology</title>
</head>
<body>
{% include "./computer course.html" %}
<h1>Rajeev Gandhi-Certificate in Information Technology</h1>
<div class="box240">
    <p>SEMESTER - 1</p>
  <div class="box420">Computer Concept & Fundamentals</div>
    <div class="box420">Windows Operating System</div>
  <div class="box420"> MS Word</div>
  <div class="box420">MS Excel</div>
  <div class="box420">MS Power Point</div>
  <div class="box420">MS Access</div>
  <div class="box420">Internet</div>
  <div class="box420">Lab-I</div>
</div>
<div class="box240">
  <p>SEMESTER - 2</p>
  <div class="box420">Programing with VB.Net</div>
  <div class="box420">Computer Network & Internet</div>
  <div class="box420">Programing with VB.Net</div>
  <div class="box420">Programming in C++</div>
  <div class="box420">System Analysis & Design</div>
  <div class="box420"> Lab-II</div>
</div>
</body>
</html>